fit_loadaddr=0x09000000
fit_file=fit.itb
serverip=192.168.1.100
bootargs=earlyprintk console=tty0,115200 console=ttyAMA0,115200
sdboot=fatload mmc 0:1 ${fit_loadaddr} ${fit_file} && bootm ${fit_loadaddr}
netboot=usb start; dhcp ${fit_loadaddr} ${fit_file} && bootm ${fit_loadaddr}
modeboot=sdboot
bootcmd=run ${modeboot}
